.navContainer {
    height: 3em;
    width: 100%;
    background-color: gainsboro;
    top: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.navContainer > button{
    width:33%;
    height:2em;
}

.heatMap{
    width:100vw;
    justify-content: center;
    display: flex;  
    margin-top: 2em;
}

.heatMap > img {
    border: 2px solid black;
    box-shadow: 5px 10px 18px #888888;
}

    