.navContainer {
    height: 3em;
    width: 100%;
    background-color: gainsboro;
    top: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.navContainer > button{
    width:33%;
    height:2em;
}

.heatMap{
    width:100vw;
    justify-content: center;
    display: flex;  
    margin-top: 2em;
}

.geoMap  {
    border: 2px solid black;
    box-shadow: 5px 10px 18px #888888;
    background-color: #fff;
    height: 80vh;
}

svg {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }

  .sphere {
    fill: #DCDCDC;
  }
  
  .country {
    fill: #D3D3D3;
    stroke: black;
    stroke-width: 0.05
  }
  
  .country:hover {
    fill: #E0FFFF
  }
  
  .country-circle:hover, circle:hover {
    fill: #E0FFFF
  }
  
  .country-circle, circle {
    fill-opacity: 0.4;
    stroke: black;
    stroke-width: 0.05;
  }
  
  .legend-title {
    fill: #635F5D;
    text-anchor: middle;
  }
  
  .tick-map text {
    fill: #635F5D;
    font-size: .75em
  }

  .mapboxgl-map{
    height:100vh;
    width: 100vw;
  }
  .checkFrom{
    position:absolute;
    background-color: #888888;
    opacity: 0.7;
    justify-content: center;
    bottom: 0;
    align-content: center;
    border-top-right-radius: 10px;
    width:350px;
  }
  .mapboxgl-ctrl{ 
    display: none !important;
  }
  .radio{
    padding: 20px 20px 20px 5px

  }
    